* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffbdc9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*dodaden za like button*/
    overflow: hidden;
}

body header {
    width: 100%;
}

body main {
    width: 100%;
    flex: 1;
    margin-top: 2rem;
}

body footer {
    width: 100%;
    margin-top: 0;
}

header nav {
    width: 100%;
}

.container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

nav {
    background: #fff;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
    align-items: center;
}

nav ul li a {
    list-style: none;
    display: inline-block;
    padding: 12px 10px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

nav ul li::after {
    content: '';
    background: #f44566;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

nav ul li:hover {
    color: #fff;
}

nav ul li:hover::after {
    top: 50%;
    opacity: 1;
}

#intro .text-center {
    text-align: center;
    color: #3E424B;
}

#intro h1 {
    text-align: center;
    font-weight: bold;
    color: #3E424B;
}

#intro h2 {
    text-align: center;
    font-weight: bold;
    color: #535762;
}

.field_set {
    border-color: gainsboro;
    border-style: solid;
    border-width: 3px;
}

.cv-text {
    text-align: justify;
    width: 100%;
    height: 100%;
}

#intro a {
    text-align: center;
    font-weight: bold;
    color: #3E424B;
}


/*LIKE DISLIKE BUTTON*/

.like,
.dislike {}

.icon {
    margin-top: 20px;
    font-size: 10px;
    color: rgb(104, 25, 38);
    cursor: pointer;
    text-shadow: 5px 8px 15px palevioletred;
    transition: .5s;
}

.icon:hover {
    color: #a85f67;
    transform: scale(1.2);
}

input {
    margin-top: -50px;
    margin-left: 25px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    background: none;
    font-size: 30px;
    font-weight: 800;
    pointer-events: none;
    color: pink;
    text-shadow: 2px 2px 3px palevioletred
}

button {
    background: #f44566;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ececec;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 35px;
    border-radius: 55px;
    transition: 0.5s;
    box-shadow: 12px 12px 24px #b62a7e, -12px -12px 24px #bb2d77;
}

button:hover {
    background: #cd505f;
    transform: scale(1.05);
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.images-wrapper .img-wrap {
    position: relative;
    flex: 0 0 30%;
}

.images-wrapper img {
    width: 100%;
    max-height: 125px;
    margin-top: 1rem;
}

.img-wrap .img-actions {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(100, 100, 100, 0.5);
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    overflow: hidden;
}